---
import Layout from '../../layouts/layout.astro'
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { CollectionEntry } from "astro:content";
export async function getStaticPaths(){
    const blogPosts = await getCollection("blog", ({data}) => {
return !data.draft && data.date < new Date()
 });
    
    return blogPosts.map((post) => ({
        params: {slug: post.slug},
        props: { post},
    }));
}

interface Props {
    post: CollectionEntry<"blog">;
}
const { post } = Astro.props;

const { Content } = await post.render();
console.log("Post Data:", post);
---
<Layout>
    <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
<h1>{post.data.title}</h1>
</div>
<div class="p-3 max-w-6em">
<Content />
</div>
</Layout>

